*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.header-left{
  background-color: rgba(0, 0, 255, 0.312);
  flex: 1 1 40%;
  height: 400px;
}
.header-right{
  background-color: rgba(165, 122, 42, 0.364);
  flex: 1 1 40%;
  height: 400px;
}
.summery-container{
  background-color: rgba(255, 140, 0, 0.477);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.ExpenselistContainer{
  display: flex;
  flex-direction: column;
  
}
.summary-list{
  display: flex;
  width: 750px;
  justify-content: space-around;
  background-color: rgba(127, 255, 212, 0.457);
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}
.summary-list:hover{
  background-color: rgba(75, 237, 183, 0.544);
  color: grey;
}
.summary-list h3{
  width: 100%;
}
.expese-form{
  margin-top: 1rem;
  background-color: blanchedalmond;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 15px 5px black;
}
.expese-form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}